<div id="<%= dom_id offer %>">
  <%if offer.foto.attached? %>
    <%= image_tag url_for(offer.foto), class:'w-100'%>
  <%end%>
  <p>
    <strong>Rif:</strong>
    <%= offer.rif %>
  </p>

  <p>
    <strong>Titolo:</strong>
    <%= offer.titolo %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= offer.descrizione %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= offer.luogo %>
  </p>

</div>
