<div id="<%= dom_id offer %>">
  <p>
    <strong>Rif:</strong>
    <%= offer.rif %>
  </p>

  <p>
    <strong>Titolo:</strong>
    <%= offer.titolo %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= offer.descrizione %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= offer.luogo %>
  </p>

</div>
